$mainColor:#FF9900;
$secondColor:#DDDDE3;
$darkColor:#131921;
$third:#2C2C40;
$whiteColor:#fff;
$footerBg:#17CCC7;
$center:center;
$blackColor:#000;
$prefixes-list: webkit,
moz,
o;
$text-color : #898989;
